<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
     <label>Team Name: </label><input type="text" id="name">
     <label>Coach: </label><input type="text" id="coach">
     <label>Point Guard: </label><input type="text" id="point guard">
     <label>Shooting Guard: </label><input type="text" id="shooting guard">
     <label>Small Forward: </label><input type="text" id="small forward">
     <label>Point Forward: </label><input type="text" id="point forward">
     <label>Center: </label><input type="text" id="center">
     <input type="submit" value="Submit" id="submit">
   </form>
   
 </body>
</html>


