<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h2>Create a Basketball Team!</h2>

 <form method="POST" action="/team"> 

 <p><input type="text" name="name" placeholder="Team Name"></p>
 <p><input type="text" name="coach" placeholder="Coach"></p>
 <p><input type="text" name="pg" placeholder="Point Guard"></p>
 <p><input type="text" name="sg" placeholder="Shooting Guard"></p>
 <p><input type="text" name="pf" placeholder="Power Forward"></p>
 <p><input type="text" name="sf" placeholder="Small Forward"></p>
 <p><input type="text" name="c" placeholder="Center"></p>
 <p><input type="submit" id="Submit"></p>

 </form>


 </body>
</html>


